<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>

    <link rel="stylesheet" href="/assets/css/output.css">
</head>
<body class="bg-gray-100 min-h-screen flex items-center justify-center">

    <div class="max-w-2xl bg-white shadow-lg rounded-xl p-8">
        <h1 class="text-3xl font-bold text-gray-800 mb-4">
            {{.Title}}
        </h1>

        <p class="text-gray-600 leading-relaxed">
            {{.Content}}
        </p>

        <a href="/about" class="text-blue-500 hover:underline">About</a>
        
    </div>

</body>
</html>